{% extends 'base.html' %}
{% load static %}

{% block title %} Proste Fakty {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ArticleSearch/css/search.css' %}">
{% endblock %}

{% block content %}
    <div class="container-mt5">

        <h2 class="text-center">Wyszukaj artykuł</h2>
        <div class="input-group">
            <input 
                type="text" 
                id="search-bar"
                class="form-control"
                placeholder="Wpisz tytuł artykułu..."
                
            />
        </div>
        <ul id="search-results" class="list-group mt-3"></ul>
        <script src="{% static 'ArticleSearch/js/scripts.js' %}"></script>


    </div>
{% endblock %}