<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Proste Fakty {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><button id="dark-mode-toggle">Tryb Ciemny</button></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Proste Fakty</p>
    </footer>
    
</body>
</html>