{% extends 'base.html' %}

{% block title %} Proste Fakty {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Proste Fakty</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Podsumuj</button>
        </form>

        {% if submitted_link %}
            <div class="mt-4 alert alert-info">
                Wstawiłeś link: <a href="{{ submitted_link }}" target="_blank">{{ submitted_link }}</a>
            </div>
        {% endif %}

        {% if summary %}
            <h2 class="mt-5">{{article_title}}</h2>
            <div class="mt-3">
                <pre style="white-space: pre-wrap;">{{ summary }}</pre>  <!-- Preserves formatting of paragraphs -->
            </div>
        {% endif %}

    </div>
{% endblock %}